<h1>Log In</h1>

<form action="<%= session_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  
  <label>Username
    <input name="user[username]">
  </label>

  <label>Password
    <input type="password" name="user[password]">
  </label>

  <button type="submit">Log In User</button>
</form>

<a href="<%= new_user_url %>">Sign Up</a>